{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}{{ selected_meetup.title }}{% endblock %}
{% block site_css %}<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">{% endblock %}

{% block main_heading %}{{ meetup_title }}{% endblock %}

{% block body %}
    {% if meetup_found %}
    <article>
        <img src="" alt= "">
    
        <section id="location">
            <h2>Meetup Location</h2>
            <address>This meetup takes place in ...</address>
        </section>
    
        <section id="details">
            <h2>What's this meetup about?</h2>
            <p>{{ selected_meetup.location }}</p>
            <footer>
                <p>Need more details? Please <a href="">contact the organiser.</a></p>
            </footer>
        </section>
    
        <section id="registration">
            <h2>Join us!</h2>
            form
        </section>
    </article>
    {% else %}
        <p>No meetups found for this slug</p>
    {% endif %}
{% endblock %}
